client
dev {{ openvpn_dev }}
proto {{ openvpn_proto }}
cipher {{ openvpn_cipher }}
remote {{openvpn_host}} {{openvpn_port}}
resolv-retry {{ openvpn_resolv_retry }}
nobind
persist-key
persist-tun
remote-cert-tls server
{% if openvpn_comp_lzo -%}
comp-lzo
{% endif %}
verb {{openvpn_verb}}
{% for option in openvpn_client_options %}
{{option}}
{% endfor %}

<ca>
{{ openvpn_ca_file_contents }}
</ca>
<cert>
{{ openvpn_client_cert_output }}
</cert>
<key>
{{ openvpn_client_key_output }}
</key>
{% if openvpn_tls_auth %}
key-direction 1
<tls-auth>
{{ openvpn_tls_auth_file_contents | default('') }}
</tls-auth>
{% endif %}
